* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Tahoma, Geneva,
    Verdana, sans-serif;
  color: black;
  background-color: #e9e9e9;
  margin: 0;
  padding-bottom: 50px;
  overflow-x: hidden;
}

textarea {
  resize: none;
  border: solid #99d3df;
  padding: 1em;
  border-radius: 1em;
  outline: none;
  margin: 1em;
}
button {
  font: inherit;
  background-color: #99d3df;
  border-radius: 4px;
  border-style: none;
  box-shadow: 5px 2px 2px #88bbd6;
  margin: 1em 0.5em 0em 0.5em;
  cursor: pointer;
  padding: 0.5em 0.7em;
}
button:hover {
  box-shadow: none;
}
.cabecalho {
  background-color: #88bbd6;
  padding-left: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  padding-right: 0;
  position: static;
  z-index: 1;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
}
.logo {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}
.logo:hover {
  cursor: pointer;
}
.rodape {
  background-color: #88bbd6;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  padding-right: 0;
  z-index: 1;
  text-align: left;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.rodapeConteudo {
  margin: 0em 2em;
}
.mainContent {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: min-content;
  border-radius: 1em;
  padding: 2em;
}
.radioInput {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1em;
}
.campoPrincipal {
  margin: 0.3em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.campoComparador {
  display: flex;
  flex-direction: row;
}
.funcionalidade {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#comprimentoMaximo {
  resize: none;
  border: solid #99d3df;
  padding: 0.5em;
  border-radius: 0.5em;
  outline: none;
  margin: 0.5em;
}
